# Browser Profile (Chứa Cookies, Session, API Tokens)
shopee_profile/

# Dữ liệu cào được (Có thể chứa thông tin riêng tư)
*.csv
*.json
!requirements.txt

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
